<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
><head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Charge Creation</title>
</head>
<body>
<div layout:fragment="content">

    <main class="container mt-5">
        <div class="p-1 text-center bg-light">
            <h1 class="mb-3">Access Denied</h1>
        </div>
    </main>
</div>
</body>
</html>